<script async src="//<%= subdomain %>.envrmnt.com/shared/ext-embed-v1.js"></script>
<div style="width: 100%; height: 0px; position: relative; padding-bottom: 56.2493%;">
    <div>
        <iframe
                id="envrmnt_<%= id %>"
                data-envrmnt-id="<%= id %>"
                data-vrplayer
                src="//<%= subdomain %>.envrmnt.com/embed/v1/#/video/<%= id %>"
                frameborder="0"
                allowfullscreen
                style="width: 100%; height: 100%; position: absolute;">
        </iframe>
    </div>
</div>