<h2><%= title %></h2>

<% images.forEach(function(image) { %>
    <% if (image.title) { %><h4><%= image.title %></h4><% } %>
    <p>
        <% if (image.href) { %><a href="<%- image.href %>"><% } %>
            <img src="<%- image.src %>" width="<%= image.width %>" height="<%= image.height %>" align="center" />
        <% if (image.href) { %></a><% } %>
    </p>
<% }); %>