<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style>
        body {
            margin: 0px;
        }
    </style>
<body>

<div class='angellist_embed' data-startup_id='<%= id %>'>
    <a href='https://angel.co/<%= slug %>?utm_medium=web&utm_campaign=individual_embed&utm_content=<%= id %>'></a>
</div>
<script type='text/javascript' src='https://angel.co/<%= slug %>/embed/angellist.js?jobs=true'></script>

</body>
</html>